version: 2.1
jobs: 
  build: 
    docker: 
      - image: "circleci/ruby:2.5.1-node-browsers"
    steps: 
      - checkout
      - run:
          name: Test
          command:  export SALESFORCE_CLI_URL=https://developer.salesforce.com/media/salesforce-cli/sfdx-linux-amd64.tar.xz
                    export SFDX_AUTOUPDATE_DISABLE=false
                    export SFDX_USE_GENERIC_UNIX_KEYCHAIN=true
                    export SFDX_DOMAIN_RETRY=600
                    export SFDX_LOG_LEVEL=DEBUG
                    mkdir sfdx
                    wget -qO- $SALESFORCE_CLI_URL | tar xJ -C sfdx --strip-components 1
                    './sfdx/install'
                    export PATH=./sfdx/$(pwd):$PATH
                    sfdx update
                    sfdx --version
                    sfdx plugins




  deploy: 
    docker: 
      - image: "circleci/ruby:2.5.1-node-browsers"
    steps:      
      - checkout
      - run: "echo \"this is the build job\""
  test: 
    docker: 
      - image: "circleci/ruby:2.5.1-node-browsers"
    steps: 
      - checkout
      - run: "echo \"this is the build job\""
workflows: 
  build_and_test: 
    jobs: 
      - build
      - 
        test: 
          requires: 
            - build
      - 
        hold: 
          requires: 
            - build
            - test
          type: approval
      - 
        deploy: 
          requires: 
            - hold
